* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.cursive {
    font-family: cursive;
}

.big {
    font-size: 40px;
    font-weight: normal;
}

.close {
    padding: 0px;
    margin: 0 auto;
}